.App {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* max-width: 400px; */
	/* padding: 0 20px 40px; */
	text-align: center;
}

.App-logo {
	height: 4vmin;
	pointer-events: none;
	padding-left: 1rem;
}

.App-header {
	background-color: #282c34;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 6vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.header-title {
	font-weight: bold;
	font-size: 1.2rem;
}

.app-switch {
	padding-right: 1rem;
}

.App-link {
	color: #61dafb;
}

.market-table {
	max-width: 70%;
	margin: auto !important;
	margin-bottom: 6rem !important;
}
